@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

*{
    -fx-font-family: 'Skranji', cursive;
    -fx-text-fill: white;
}

#bg{
    -fx-background-image: url("file:resources/background.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#bg-2{
    -fx-background-image: url("file:resources/background2.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.btnGioca{
    -fx-background-color: #3193A5;
    -fx-background-radius: 79px;
    -fx-font-size: 36px;
    -fx-text-fill: white;
}

.btn{
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 5px;
    -fx-border-color: white;
    -fx-border-radius: 61px;
}

.btnGioca:hover{
    -fx-background-color: #147688;
}

.btn:hover{
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 79px;
}
.choice-box {
  -fx-background-color: #3193A5;
  -fx-mark-color: white;
}

.choice-box > .label { 
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.choice-box .context-menu { -fx-background-color: white; }
.choice-box .menu-item:focused { -fx-background-color: #3193A5; }
.choice-box .menu-item > .label { 
    -fx-text-fill: black;
    -fx-font-size: 20px;
}
.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

.check-box .box {
    -fx-background-color: white;
    -fx-border-radius: 3px; 
}

.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: #3193A5;
}
.check-box > .box > .mark {
    -fx-padding: 8px;
}
.check-box > .box {
    -fx-padding: 8px;
}

.btnAttacca{
    -fx-background-color: #3193A5;
    -fx-background-radius: 79px;
    -fx-font-size: 26px;
    -fx-text-fill: white;
    -fx-border-width: 5px;
    -fx-border-color: #3193A5;
    -fx-border-radius: 61px;
}
.btnLog{
    -fx-font-size: 26px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 5px;
    -fx-border-color: white;
    -fx-border-radius: 61px;
}

.btnAttacca:hover { -fx-background-color: #147688; }

.btnLog:hover {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 79px;
}

.base-text { -fx-font-size: 17px; }

.cornice:hover { -fx-effect: dropshadow(three-pass-box, #dbbe45, 10, 0, 0, 0); }

.log { -fx-text-fill: black; }

.glow:hover { -fx-effect: dropshadow(three-pass-box, #dbbe45, 20, 0, 0, 0);}

.tab-pane .tab-header-area .tab-header-background { -fx-background-color: black; }
.tab-pane .tab-header-area { -fx-padding: 10px; }

.tab-pane { -fx-tab-min-width: 120px; }

.tab{ 
    -fx-background-insets: 1 1 1 1,0,0; 
    -fx-padding: 10px;
}

.tab-pane .tab { -fx-background-color: transparent; }

.tab-pane .tab:selected { -fx-background-color: transparent }

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0 0 2 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
.scroll-pane > .viewport { -fx-background-color: transparent; }

.titoli { -fx-font-size: 25px; }
.paragrafo { 
    -fx-font-size: 16px;
    -fx-fill: white;
}

.scroll-pane { -fx-background-color: black; }

.scroll-bar:horizontal, .scroll-bar:vertical{ -fx-background-color:transparent; }

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}
